
#loginname {
	padding-right: 10px;
}
#everything {
	padding-top: 51px;
	background-image: url(noisy_net.png);
}

.main {
	padding-left: 300px
}

#priceGroup {
	max-width: 300px;
}

#subjects {
	padding-left: 35px;
}

.panel {
	width: 1000px;
        background-color: gold;
}

.panel-heading {
	height: 175px;
}

#sidebar {
	height: 120%;
	height: 120%;
	background-image: url(squared_metal.png);	
}

#content {
	color: whitesmoke;
	background-image: url(noisy_net.png);
}

.tutorpic {
	height: 160px;
	width: 160px;
}

#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding-left: 10px;
}

#custom-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-input button {
	border: 0;
	background: none;
	color: dodgerblue;
	left: -36px;
	position: relative;
}

.search-query:focus + button {
	z-index: 3;   
}
